extends _layout/_layout

block main-content
  #app(data-app)
    .boxTitle
      .img
        img(src='images/santa.png' alt='')
      .t1 Tu Viện Vinh Sơn
      .t2 Đêm Hội Giáng Sinh 2020
    .boxNumber(data-box-number)
    .listResult(data-list-result)
      .title Kết quả quay số
      .content
        table
          tr
            th STT
            th Số
            th Thời gian