@font-face {
  font-family: 'Bevan';
  src: url('../fonts/Bevan/Bevan-Regular.eot');
  src: url('../fonts/Bevan/Bevan-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Bevan/Bevan-Regular.woff2') format('woff2'),
      url('../fonts/Bevan/Bevan-Regular.woff') format('woff'),
      url('../fonts/Bevan/Bevan-Regular.svg#Bevan-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#app{
  width:100vw;
  height: 100vh;
  background: url(../images/bg.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.boxTitle{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%,0%);
  transition: all 0.3s linear;

  .img{
    text-align: center;
    margin-bottom: 10px;

    img{
      max-width: 150px;
    }
  }

  .t1 {
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #0278b3;
    text-shadow: 4px 4px 2px #b3cfd6;
    text-align: center;
    margin-bottom: 15px;
    white-space: nowrap;
    font-weight: bold;
  }

  .t2{
    font-size: 60px;
    line-height: 70px;
    font-weight: bold;
    color: #0278b3;
    text-shadow: 4px 4px 2px #b3cfd6;
    text-align: center;
    white-space: nowrap;
    font-family: 'Bevan';
  }
}

.boxNumber {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 17px;
  border: 3px solid #054c79;
  background: -moz-linear-gradient(left, #398cc1 0%, #08598c 100%);
  background: -webkit-linear-gradient(left, #398cc1 0%,#08598c 100%);
  background: linear-gradient(to right, #398cc1 0%,#08598c 100%);
  border-radius: 15px;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 20px;
    left: 200px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.75);
    transition: all 0.3s linear;
  }

  .number{
    width: 170px;
    height: 250px;
    border: solid 3px rgba(0, 0, 0, 0.25);
    border-right: none;
    overflow: hidden;
    background: -moz-linear-gradient(top, #398cc1 0%, #08598c 100%);
    background: linear-gradient(to bottom, #398cc1 0%,#08598c 100%);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
    transition: filter 1.5s linear;

    &:first-child{
      margin-right: 50px;
      border-radius: 10px;
      border-right: solid 3px rgba(0, 0, 0, 0.15);
    }

    &:last-child{
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-right: solid 3px rgba(0, 0, 0, 0.15);
    }

    &:nth-child(2){
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &.run {
      filter: blur(5px);

      &::before {
        filter: blur(5px);
      }
  
      &:nth-child(odd) .listNumber{
        animation-name: runrunrun;
      }

      &:nth-child(even) .listNumber{
        animation-name: runrunrun;
      }
  
      .listNumber{
        animation-duration: 1s;
      }
    }
  }
}

.listNumber{
  font-size: 170px;
  line-height: 250px;
  text-align: center;
  font-weight: bold;
  color:#ffffff;
  text-transform: uppercase;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 0.2s linear;

  span {
    display: block;
    width: 164px;
    height: 244px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

@keyframes runrunrun{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes runrunrun_revert{
	0%{
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);
	}
}

.listResult{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-30%);
  width: 90%;
  max-width: 600px;
  background: rgba(255,255,255,0.95);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  opacity: 0;
  visibility: initial;
  transition: all 0.3s linear;
  pointer-events: none;

  &.show {
    transform: translate(-50%,-50%);
    opacity: 1;
    visibility: initial;
    pointer-events: auto;
  }

  .title{
    background: #ffd211;
    border-bottom: 5px solid #fff31d;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
  }

  .content{
    padding: 25px 35px;
    padding-bottom: 10px;
    max-height: 420px;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 6px;
      width:4px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.5);
      padding:3px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.5);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #907d81;
      outline: 1px solid black;
    }
  }

  .item {
    font-size: 52px;
    line-height: 56px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 50px;
  }

  table{
    width: 100%;

    th{
      font-weight: bold;
      color:#c8102e;
      text-transform: uppercase;
      border-bottom: solid 1px rgba(0,0,0,0.15);
      padding: 10px 20px;
      font-size: 16px;
      line-height: 24px;

      &:first-child{
        width: 100px;
      }
  
      &:last-child{
        width: 200px;
      }
    }

    td{
      padding: 10px 20px;
      border-bottom: solid 1px rgba(0,0,0,0.15);
      font-size: 16px;
      line-height: 24px;

      &:nth-child(2){
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
      }
    }
  }
}

#setupbox{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  max-width: 400px;
  background: rgba(255,255,255,0.85);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  transition: all 0.3s linear;

  &.hidebox{
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%,100%);
    -ms-transform: translate(-50%,100%);
    -o-transform: translate(-50%,100%);
    transform: translate(-50%,100%);
  }

  .title{
    background: #ffd211;
    border-bottom: 5px solid #fff31d;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
  }

  .content{
    padding: 25px 35px;
    padding-bottom: 10px;
  }

  label{
    font-weight: normal;
  }

  input{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
    border:none;
  }

  button{
    width: 130px;
    height: 45px;
    background: #393264;
    border:none;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: bold;
  }
}
